=link_to root_path do
  =image_tag "logo.png"
%section#home
  .container
    .main
      .btn-login.center
        =link_to new_user_session_path do
          =image_tag "login.png"
        =link_to "#" do
          =image_tag "android-available.png", class: "android-store app-store"
        =link_to "https://itunes.apple.com/us/app/sslide/id730948724?ls=1&mt=8" do
          =image_tag "ios-available.png", class: "app-store"
      =image_tag "sslide.png"

%section#function
  %article
    .function1.center
      =image_tag "function1.png"
  %article
    .function2
      =image_tag "function2.png"
  %article
    .function3.center
      =image_tag "function3.png"

%section#youtube
  .movie-wrapper.center
    %iframe(width="640" height="480" src="//www.youtube.com/embed/VksAz6d7RK0?rel=0" frameborder="0" allowfullscreen)

%section#member
  %article
    =image_tag "member.png"
    .row
      .span.person
        =image_tag "huy.png"
        %h3 huydx
        =link_to "https://github.com/huydx/" do
          =image_tag "github.png"
      .span.person
        =image_tag "nghia.png"
        %h3 nghialv
        =link_to "https://github.com/nghialv/" do
          =image_tag "github.png"
      .span.person
        =image_tag "hung.png"
        %h3 dkonayuki
        =link_to "https://github.com/dkonayuki" do
          =image_tag "github.png"
      .span.person
        =image_tag "fukuda.png"
        %h3 kouyaf77
        =link_to "https://github.com/kouyaf77" do
          =image_tag "github.png"
