%section#home
  .container
    .main
      .col-md-4.side-content
        %h3 SSlide
        %p hogehogehgoegehoghgoehgoehgoeaaaaaa
        %p hogehogehgoegehoghgoehgoehgoeaaaaaa
        %p hogehogehgoegehoghgoehgoehgoeaaaaaa
        .youtube-wrapper
          .col-md-4
            =link_to "http://www.youtube.com/embed/VksAz6d7RK0",  data:{colorbox: true, colorbox_height: "500px",  colorbox_width: "600px",   colorbox_iframe: true} do
              =image_tag "youtube.png", class: "youtube"
          .col-md-8
            .box
              %p Click Here!! Show Movie!!
        .btn-wrapper
          =link_to "Sign in",  new_user_session_path, class: "btn btn-large btn-wide"
      .col-md-8
        =image_tag "imac.png"
        =image_tag "iphone.png"

%section#function
  %article.slide#function-slideshare
    .row
      .col-md-7
        =image_tag "slideshare.png", class: "slide-share"
      .col-md-5
        %h2 スライド共有
  %article.memo#function-memo
    .row
      .col-md-5
        %h2 メモ共有
      .col-md-7
        =image_tag "memo.png", class: "memo-share"
  %article.question#function-question
    .row
      .col-md-7
        =image_tag "question.png", class: "send-question"
      .col-md-5
      %h1 質問機能

%section#member
  %article
    %h1 Member
    .row
      .span.person
        =image_tag "fukuda.jpg", class: "circle"
        %p Server side Engineer
        %h3 Huy
      .span.person
        =image_tag "fukuda.jpg", class: "circle"
        %p iOS Developer
        %h3 Nghia
      .span.person
        =image_tag "fukuda.jpg", class: "circle"
        %p iOS Devloper
        %h3 Hung
      .span.person
        =image_tag "fukuda.jpg", class: "circle"
        %p Markup Enginner
        %h3 Koya
