%section#home
  .container
    .main
      .col-md-4.side-content
        %p.screen-text
          A
          %span presentation
          tool
          %span innovation
        .span
          =image_tag "app_logo.png", class: :logo
        .youtube-wrapper
          .col-md-4
            =link_to "http://www.youtube.com/embed/VksAz6d7RK0",  data:{colorbox: true, colorbox_height: "500px",  colorbox_width: "600px",   colorbox_iframe: true} do
              =image_tag "youtube.png", class: "youtube"
          .col-md-8
            .box
              %p Click Here!! Show Movie!!
        .btn-wrapper
          =link_to "Sign in",  new_user_session_path, class: "btn btn-large btn-wide"
      .col-md-8
        =image_tag "imac.png", class: :imac
        =image_tag "iphone.png", class: :iphone

%section#function
  %article.slide#function-slideshare
    .row
      .col-md-8
        =image_tag "slideshare.png", class: "slide-share"
      .col-md-4
        =image_tag "slide-share-text.png", class: "slide-share-text"
  %article.memo#function-memo
    .row
      .col-md-4
        =image_tag "memo-text.png", class: "memo-text"
      .col-md-8
        =image_tag "memo.png", class: "memo-share"
  %article.question#function-question
    .row
      .col-md-8
        =image_tag "question.png", class: "send-question"
      .col-md-4
        =image_tag "question-text.png", class: "question-text"

%section#member
  %article
    %h1 Member
    .row
      .span.person
        =image_tag "huy.png"
        %h3 huydx
        %p Server side Engineer
        =link_to "https://github.com/huydx/" do
          =image_tag "github.png"
      .span.person
        =image_tag "nghia.png"
        %h3 nghialv
        %p iOS Developer
        =link_to "https://github.com/nghialv/" do
          =image_tag "github.png"
      .span.person
        =image_tag "hung.png"
        %h3 dkonayuki
        %p iOS Devloper
        =link_to "https://github.com/dkonayuki" do
          =image_tag "github.png"
      .span.person
        =image_tag "fukuda.png"
        %h3 kouyaf77
        %p Markup Enginner
        =link_to "https://github.com/kouyaf77" do
          =image_tag "github.png"

