<h1>New question</h1>

<form id="new-question" name="question">
  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="field">
    <label for="vote_up"> vote_up:</label>
    <input type="text" name="vote_up" id="vote_up" value="<%= vote_up %>" >
  </div>

  <div class="field">
    <label for="vote_down"> vote_down:</label>
    <input type="text" name="vote_down" id="vote_down" value="<%= vote_down %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Question" />
  </div>

</form>

<a href="#/index">Back</a>