%table
  %tbody
    %tr
      %td.votecell
        .vote
          %a.vote-up{href: "#", class: vote_up_class(question)}
          .vote-count-post
            = question.vote_count 
          %a.vote-down{href: "#", class: vote_down_class(question)}
      %td.postcell
        %a.post-text{"data-slide-num" => question.slide_page_num.to_i, href: "#"}
          = question.content
      - if @editable
        %td.extra
          .extrabutton
            %a.addanswer{href: "#"}
        
    %tr
      %td.votecell
      %td.answercell
        - if question.answer
          %div{id: "#answer-#{question.answer.id}"}
          %table
            %tr
              %td
                = question.answer.content
