%table
  %tbody
    %tr
      %td.votecell
        .vote
          %a.vote-up{href: "#", class: vote_up_class(@slide_id, question.id)}
          .vote-count-post
            = vote_count(@slide_id, question.id)
          %a.vote-down{href: "#", class: vote_down_class(@slide_id, question.id)}
      %td.postcell
        .post-text
          = question.content
      - if @editable
        %td.extra
          .extrabutton
            %a.addanswer{href: "#"}
        
    %tr
      %td.votecell
      %td.answercell
        - if question.answer
          %div{id: "#answer-#{question.answer.id}"}
          %table
            %tr
              %td
                = question.answer.content
