%meta{id: "slide_info", |
      "data-prefix" => prefix(@slide), |
      "data-suffix" => suffix(@slide), |
      "data-totalpage" => pages(@slide), |
      "data-id" => slide_id(@slide)}

.question_page_left_col
  - @questions.each do |question|
    .question{id: question.id, "data-id" => question.id}
      = render "cell", question: question
.question_page_right_col
  = render "slide"


:javascript
  (function($) {
    var slideInfo = $("#slide_info");
    var slideId = slideInfo.data("id");
    var slideImagePrefix = slideInfo.data("prefix");
    var slideImageSuffix = slideInfo.data("suffix");
    var slideImageNum = slideInfo.data("totalpage");

    window.player = new SlidePlayer(slideImagePrefix, slideImageSuffix, slideImageNum);
    window.player.preload();

    $(".addanswer").on("click", function(e){
      var questionId = $(this).closest(".question").data("id");
      $.colorbox({href: "/answer/index?questionId="+questionId});
      e.preventDefault(); 
    });

    $(".vote-up").on("click", function(e){
      var that = $(this);
      var questionId = $(this).closest(".question").data("id");
      var slideId = $("#page-info").data("slide-id");
      $.ajax({
        type: "POST",
        url: "/question/vote",
        data: {
          type: "up", 
          question_id: questionId,
          slide_id : slideId
        }
      }).done(function(msg) {
        that.closest(".votecell")
          .find(".vote-count-post")
          .html(msg.score);
        that.removeClass("vote-up-off");
        that.addClass("vote-up-on");
      });
      e.preventDefault();
    });
    
    $(".vote-down").on("click", function(e){
      var that = $(this);
      var questionId = $(this).closest(".question").data("id");
      var slideId = $("#page-info").data("slide-id");
      $.ajax({
        type: "POST",
        url: "/question/vote",
        data: {
          type: "down", 
          question_id: questionId,
          slide_id : slideId
        }
      }).done(function(msg) {
        that.closest(".votecell")
          .find(".vote-count-post")
          .html(msg.score);
        that.removeClass("vote-down-off");
        that.addClass("vote-down-on");
      });
      e.preventDefault();
    });

    $(".post-text").on("click", function(e) {
      if(window.player) {
        window.player.gotoPage(parseInt($(this).data("slide-num")));
      } 
      e.preventDefault();
    });
  })(jQuery);
