.row
  - @slides.each do |slide|
    .row.well.slide-box
      %a(href="/streaming/#{slide["ID"]}")
      .col-md-2
        =image_tag "#{slide["ThumbnailURL"]}"
      .col-md-10
        %h3.title= slide["Title"]
