<div class="slide-extras-sparkbars">
  <div class="slide-extras-sparkbars-like" style="width: <%= like.likePercent %>%">
  </div>
  <div class="slide-extras-sparkbars-dislike" style="width: <%= like.dislikePercent %>%">
  </div>
</div>
<div class="slide-extras-likes-dislikes">
  <img class="slide-like-image" src=""></img>
  <span class="slide-like-count"><%= like.likeNum %></span>
  &nbsp;&nbsp;&nbsp;
  <img class="slide-dislike-image" src=""></img>
  <span class="slide-dislike-count"><%= like.dislikeNum %></span>
</div>
