%h1 SSlide仕様説明

%h2 動作ビデオ
%iframe{allowscriptaccess: "always", allowFullScreen: "true", frameborder: "0", height: "430", src: "http://www.youtube.com/embed/H2Wl8xWpXhY", title: "YouTube video player", :width => "640"}

%h2 動作確認方法
%iframe(src="http://www.slideshare.net/slideshow/embed_code/28286554" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no")
%iframe(src="http://www.slideshare.net/slideshow/embed_code/28286883" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no")
