%h1 SSlide仕様説明

%h2 動作ビデオ
%iframe{allowscriptaccess: "always", allowFullScreen: "true", frameborder: "0", height: "430", src: "http://www.youtube.com/embed/fryz_e5uyPw", title: "YouTube video player", :width => "640"}

