.slide-box {
  position: relative;
  display: inline-block;
  width: 210px;
  margin-left: 10px;
  margin-right: 10px;

  .img-wrapper{
    margin: 0 auto;
    text-align: center;
    width: 170px;
    height: 128px;

    img{
      width: 170px;
      height: 128px;
    }
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: #FFF;
    opacity: 0;
    filter: alpha(opacity = 1);
  }

  .title {
    border-bottom: 1px solid #E3E3E3;
     width: 170px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     -o-text-overflow: ellipsis
  }
}
