.brand {
  padding: 0px 0px 0px 0px !important;
  float: left;
  height: 34px;
  width: 150px;
  font-size: 24px;
  position: relative;
  text-align: left;
  letter-spacing: -0.05em;
}

.brand img {
  height: 100%;
}

.navbar{
  .container {
  }

  background-color: #444444;
  border-bottom: 1px solid #EEE;
  border-radius: 0px !important;

  li, a{
    color: #CCCCCC;
    line-height: 48px;
  }

  #search-form {
    width: 300px;
    float: left;
    margin-top: 8px;

    #search-input {
      width: 200px;
      border: 0 !important;
    }
  }
}
