.vote {
  overflow: hidden;
  text-align: center;
  font-weight: normal;

  .vote-up-on {
    background-image: image-url("sprites.png");
    background-repeat: no-repeat;
    background-position: 0px -230px;
    display:block;
    margin: 0 auto;
    width: 41px;
    height: 25px;
  }

  .vote-up-off {
    background-image: image-url("sprites.png");
    background-repeat: no-repeat;
    background-position: 0px -265px;
    display:block;
    margin: 0 auto;
    width: 41px;
    height: 25px;
  }

  .vote-count-post {
    background-image: none;
    font-size: 24px;
    color: rgb(85, 85, 85);
  }

  .vote-down-off {
    background-image: image-url("sprites.png");
    background-repeat: no-repeat;
    background-position: 0px -300px;
    display:block;
    margin: 0 auto;
    width: 41px;
    height: 25px;
  }

  .vote-down-on {
    background-image: image-url("sprites.png");
    background-repeat: no-repeat;
    background-position: 0px -335px;
    display:block;
    margin: 0 auto;
    width: 41px;
    height: 25px;
  }
}

.extra{
  overflow: hidden;
  font-weight: normal;
  width: 100px;

  .addanswer {
    background-image: image-url("sprites.png");
    background-repeat: no-repeat;
    background-position: 0px -640px;
    margin: 0 auto;
    display: block;
    width: 30px;
    height: 15px;
  }
}

.question_page_left_col {
  float: left;
  height: 100%;
  width: 50%;
}

.question_page_right_col {
  float: right;
  height: 100%;
  width: 50%;
  background-color: rgb(85, 85, 85);
}

#player-container {
  #current_slide {
    margin: auto auto auto auto;
    width: 100%;
    left: 0;
    top: 0;
  }
}
