.client-left-col {
  float: left;
  width: 70%;
  height: 100%;
  margin: 0px;
}

.client-right-col {
  float: right;
  width: 20%;
  height: 500px;
  overflow: scroll;
  background-color: #E6E6E6;
  padding: 10px;
}
