.navbar {
  display: none;
}

.imac, .iphone, .logo {
  zoom: 1.3;
}

.logo {
  margin: 9px 0 20px 0;
}

.mobile-app-store {
  margin-top: 14px;
}

.app-store {
  margin: 10px 0 0 20px;
  zoom: 0.5;
}

.android-store {
  opacity: 0.3;
}

.col-md-8 {
  margin-left: -20px;
}

.center {
  margin: 0 auto;
}

section#home {
  .container {
    .main {
      .btn-login {
        margin-top: 70px;
        margin-bottom: 70px;
        width: 830px;
      }
    }
  }
}

section#function {
  margin-top: 50px;

  .function1{
    margin-bottom: 70px;
    width: 1026px;
  }

  .function2 {
    margin-bottom: 70px;
    width: 846px;
  }

  .function3 {
    margin-bottom: 70px;
    width: 957px;
  }
}

section#youtube {
  margin-bottom: 70px;

  .movie-wrapper {
    width: 640px;
  }
}

section#member {
  color: #FFFFFF;
  margin: 0 -500%;
  padding: 20px 500%;
  background-color: #2b3039;
  text-align: center;

  .person {
    display: inline-block;
    margin: 0 50px;
  }

  .circle {
    position: relative;
    display: inline-block;
    padding-top: 70px;
    width: 150px;
    height: 150px;
    text-align: center;
    background: #EEEEEE;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
  }
}
