.slide_controller
  .slide_control_panel
    .slide_streaming.control_button
      - if request.url.match "client"
        %a.subscribe_button{href: "#"}
          %img.normal_state{src: image_path("streaming.png"), width: "50px", height: "50px"}
          %img.pressed_state{src: image_path("streaming_pressed.png"), width: "50px", height: "50px"}
      - else
        %a.streaming_button{href: "#"}
          %img.normal_state{src: image_path("streaming.png"), width: "50px", height: "50px"}
          %img.pressed_state{src: image_path("streaming_pressed.png"), width: "50px", height: "50px"}
    .slide_drawing.control_button
      %a.drawing_button{href: "#"}
        %img.normal_state{src: image_path("pen.png")}
        %img.pressed_state{src: image_path("pen_pressed.png")}
    .slide_clear.control_button
      %a.clear_button{href: "#"}
        %img.normal_state{src: image_path("eraser.png")}
        %img.pressed_state{src: image_path("eraser_pressed.png")}

%a#slide_controller_display{href: "#"}
  %img.gear{src: image_path("gear.png")}
